<!-- <%- include('../layouts/header.ejs') %>

<h1>Dashboard</h1>

<a href="/admin/new-user">Add New User</a>
<br><br>

<form>
    <input type="text" placeholder="Search" name="search">
    <input type="submit" value="Search">
</form>

<table width="50%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>

    <% 
        if(users.length > 0){
            for(let i=0;i<users.length;i++){
                %>
                    <tr>
                        <td><%= users[i].name %></td>
                        <td><%= users[i].email %></td>
                        <td><%= users[i].mobile %></td>
                        <td><img src="/userImages/<%= users[i].image%>" alt="image" width="100px" height="100px"></td>
                        <td>
                            <a href="/admin/edit-user?id=<%= users[i]._id %>">Edit</a>
                            <a href="/admin/delete-user?id=<%= users[i]._id %>">Delete</a>
                        </td>
                    </tr>
                <%
            }
        }
        else{
            %>
                <tr>
                    <td colspan="5">Users Not Found</td>
                </tr>

            <%
        }    
    %>
</table>

<a href="/admin/home">Go Back</a>

<%- include('../layouts/footer.ejs') %> -->

    
<body class="bg-warning">
    
</body>
<%- include('../layouts/header.ejs') %>

<div class="container mt-5">

    <div class="row mb-4 d-flex justify-content-between">
        <div class="col-md-3" >
            <a href="/admin/new-user" class="btn btn-primary ">Add New User</a>
        </div>

        <div class="col-md-6 ">
            <form >
                <div class="input-group">
                    <input type="text" class="form-control " placeholder="Search" name="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-3 text-end">
            <a href="/admin/home" class="btn btn-secondary">Go Back</a>
        </div>
        
    </div>

    <!-- <form class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </div>
    </form> -->

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% if (users.length > 0) { %>
                <% for (let i = 0; i < users.length; i++) { %>
                    <tr>
                        <td><%= users[i].name %></td>
                        <td><%= users[i].email %></td>
                        <td><%= users[i].mobile %></td>
                        <td>
                            <img src="/userImages/<%= users[i].image %>" alt="image" width="100px" height="100px">
                        </td>
                        <!-- <td>
                            <a href="/admin/edit-user?id=<%= users[i]._id %>" class="btn btn-info btn-sm">Edit</a>
                            <a href="/admin/delete-user?id=<%= users[i]._id %>" class="btn btn-danger btn-sm">Delete</a>
                        </td> -->
                        <td>
                            <a href="/admin/edit-user?id=<%= users[i]._id %>"><img style="width: 20px; height: auto;"
                            src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-coloricon-1/21/31-512.png"
                            alt="Edit"></a>
                        </td>
                        <td>
                            <a href="/admin/delete-user?id=<%= users[i]._id %>"><img style="width: 20px; height: auto;"
                                src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png" alt="Delete">
                            </a>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr>
                    <td colspan="5">Users Not Found</td>
                </tr>
            <% } %>
        </tbody>
    </table>

    
</div>

<%- include('../layouts/footer.ejs') %>
